.root {
  margin: 0.7rem 0rem;
  width: 100%;
  max-width: 95%;
  padding: 0.15rem;
  height: 2rem;
}

.label,
.input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.input {
  font-size: 1.15rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  position: relative;
  left: 0;
}

.label {
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  cursor: text;
  right: 0;
  left: 0;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  transform-origin: left bottom;
  position: relative;
  top: -1rem;
}

.input:focus {
  outline: 0;
  border-bottom: 1px solid rgb(159, 32, 137);
}

.input:focus + label,
.input:valid + label,
.input:not(:empty) + label {
  cursor: pointer;
  color: rgb(159, 32, 137);
  font-size: 12px;
  top: -1rem;
}

.error p {
  position: relative;
  margin-top: -1.3rem;
  font-size: 0.9rem;
  color: rgb(225, 25, 0);
  border-color: rgb(225, 25, 0);
  z-index: 100;
}

.input:focus ~ p,
.input:valid ~ p {
  display: none;
}
